<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   
   <form method="POST" action="/newteam">
      <input type="text" name="name">
       <input type="text" name="coach">
        <input type="text" name="point guard">
         <input type="text" name="shooting guard">
          <input type="text" name="small forward">
           <input type="text" name="name">
      <input type="submit" id="Submit">
 </body>
</html>


